<%# ＜サイドバー＞ ２問目%>
<div class="side-bar-header">
  <%# ＜サイドバー＞ 4問目%>
    <div class="header-name">
     <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
  <%# ＜サイドバー＞ 5問目%>
    <div class="room">
    <div class="room-name">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>